package models
{{if .Import}}
import (
    {{range $import, $v := .Import }}"{{$import}}"
    {{end}}
)
{{end}}

type {{.Name}} struct {
    {{range .Fields}}{{.Name}} {{.Type}} `gorm:"column:{{.ColumnName}}{{if .IsPrimaryKey}};primaryKey{{end}}"`
    {{end}}
}

// TableName overrides the table name
func ({{.Name}}) TableName() string {
	return "{{.Table}}"
}