package repositories

import (
    "gorm.io/gorm"
    "context"
    "{{.Model.Pkg}}"
)

type {{.Name}} interface {
    BaseRepository
    FindOne(ctx context.Context, model *models.{{.Model.Name}}, preloads ...string) error
    FindMany(ctx context.Context, where map[string]interface{}, pagin *Pagination, preloads ...string) (int64, []*models.{{.Model.Name}}, error)
    Create(ctx context.Context, model *models.{{.Model.Name}}) error
    Update(ctx context.Context, model *models.{{.Model.Name}}) error
    Delete(ctx context.Context, model *models.{{.Model.Name}}) error
}

func New{{.Name}}(db *gorm.DB) {{.Name}} {
    return &{{.ImpName}} {
        baseRepository: baseRepository {
            db: db,
        },
    }
}

type {{.ImpName}} struct {
    baseRepository
}


func (r *{{.ImpName}}) preloads(db *gorm.DB, preloads ...string) *gorm.DB {
    for _, preload := range preloads {
        db = db.Preload(preload)
    }
    return db
}

func (r *{{.ImpName}}) FindOne(ctx context.Context, model *models.{{.Model.Name}}, preloads ...string) error {
    return r.preloads(r.GetDB(ctx), preloads...).First(model).Error
}

func (r *{{.ImpName}}) Create(ctx context.Context, model *models.{{.Model.Name}}) error {
    return r.GetDB(ctx).Create(model).Error
}

func (r *{{.ImpName}}) Update(ctx context.Context, model *models.{{.Model.Name}}) error {
    return r.GetDB(ctx).Model(model).Save(model).Error
}

func (r *{{.ImpName}}) Delete(ctx context.Context, model *models.{{.Model.Name}}) error {
    return r.GetDB(ctx).Delete(model).Error
}

func (r *{{.ImpName}})  FindMany(ctx context.Context, where map[string]interface{}, pagin *Pagination, preloads ...string) (int64, []*models.{{.Model.Name}}, error) {
	 var result []*models.{{.Model.Name}}

     db := r.GetDB(ctx).Model(&models.{{.Model.Name}}{})

	for k, v := range where {
		db = db.Where(k, v)
	}

	var total int64

	if err := db.Count(&total).Error; err != nil {
		return -1, nil, err
	}

	db = r.preloads(db, preloads...)
	if pagin != nil {
		db = pagin.apply(db)
	}

	if err := db.Find(&result).Error; err != nil {
		return -1, nil, err
	}
	return total, result, nil
}
