package services

import (
    "{{.Repo.Pkg}}"
)

type {{.Name}} interface {
}

func New{{.Name}}(provider repositories.Provider) {{.Name}} {
    return &{{.ImpName}} {
        {{.Repo.ImpName}}: provider.{{.Repo.Name}}(),
    }
}

type {{.ImpName}} struct {
    {{.Repo.ImpName}} repositories.{{.Repo.Name}}
}
